body {
    background-image: url(/images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
}

#cloud {
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url(/images/cloud.svg);
}

#ballon {
    position: absolute;
    top: 20rem;;
}
#ballon img {
    width: 150px;
    height: 150px;
}
