body {
    background-image: url(/images/back.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
}
#cloud {
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url(/images/cloud.svg);
}

#ballon {
    position: absolute;
    top: 20rem;;
}
#ballon img {
    width: 150px;
    height: 150px;
}
#cloud-right {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: -10;
    background-image: url(/images/cloud.svg);
}
#ufo img {
    width: 400px;
    height: 400px;
}